body, a{
    font-family: 'Josefin Sans', sans-serif;
    text-decoration:none;
    background-image: url(img/light_wool.png);
    
}

a{
    
    color: white;
    text-decoration:none !important;
    background:#35849a !important;

}

p{ 
    font-size:25px;
    font-style: normal;
}

.icono{
    font-size:25px;
}

.cabecera{
    height: 100px;
}

.logo{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 50px !important;
    margin-top:10px;
    height: 60px;
}

.pielogo{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px !important;
    margin-left:10px;
}


.menu{
    padding-top: 30px;
    padding-bottom: 1px;
    color: white; 
    font-size: 18px;
    background: #35849a !important;
}

.menu a{
    /* background-color:rgb(153, 202, 153) !important;  */
}

.menu a:hover, .elementomenu:hover{
    color:#35849a !important;
    background:white !important;  
    text-decoration:none;
    font-weight: 1000;
    border-radius:30px 30px 30px 30px;
}

.separador-blanco{
    height:2px;
    background-color:white;
}

.separador-verde{
    height:6px;
    background-color: #35849a;
}

.imagen{
   border-style: solid;
   border-width: 2px;
   border-color: white;
}

.btn{
    background:rgb(238, 238, 238);
    color:black;
    border-radius:100px 100px 100px 100px;
}

.btn:hover{
    background:#35849a;
    color:white;
}

.tituloinicio{
    background:#35849a;
    color:white;
    width:400px;
    
    padding-bottom:15px;
    padding-left:20px;
    padding-right: 15px;
    
    border-radius:100px 100px 100px 100px;
}

.titulocontacto{
    background:#35849a;
    color:white;
    width:300px;
    align-items: center;
    padding-bottom:15px;
    padding-left: 70px;
    padding-right: 15px;
    padding-top:20px;
    border-radius:100px 100px 100px 100px;
}


.titulo{
    background:#35849a;
    color:white;
    padding-top:20px;
    border-radius:100px 100px 100px 100px;
}



.form-control{
    border-style:solid;
    border-color:black;
    border-width:1px;
    border-radius:100px 100px 100px 100px;
}

.textarea{
    border-style:solid;
    border-color:black;
    border-width:1px;
    border-radius:20px 20px 20px 20px;
}